---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import SkillBar from '../components/SkillBar.astro';

const skills = [
  { name: 'Java', level: 90 },
  { name: 'Javascript', level: 88 },
  { name: 'Typscript', level: 88 },
  { name: 'Dart', level: 70 },
  { name: 'HTML5', level: 55 },
  { name: 'CSS', level: 50 },
  { name: 'Next.js', level: 65 },
  { name: 'ReactNative', level: 60 },
  { name: 'MySQL', level: 40 },
  { name: 'Node.js', level: 76 },
  { name: 'Firebase', level: 84 },
  { name: 'npm', level: 87 },
  { name: 'Flutter', level: 30 },
  { name: 'Git', level: 89 },
  { name: 'Linux', level: 69 },
  { name: 'Figma', level: 77 },
  { name: 'Photoshop', level: 56 },
  { name: 'After Effects', level: 58 },
  { name: 'Premier Pro', level: 54 },
  { name: 'Github Actions', level: 33 },
  { name: 'Jenkins', level: 29 },
  { name: 'TailwindCSS', level: 83 },
];
---

<BaseLayout
  title="About | Jerome Cabugwason"
  description="About Jerome Cabugwason Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Started playing with batch scripts at the age of 12, learned to
            intall linux into a machine at 16 and now a Software Engineering
            student with <strong>2 years of experience</strong> in software development.
          </p>
          <br />
          <p>
            Involved in UniHub's early days of development, a startup in iloilo
            for students who want to buy or sell brand-new or pre-owned items
            exclusively in their universities.
          </p>
        </div>
      </section>

      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          {
            skills
              .sort((a, b) => b.level - a.level)
              .map((skill) => (
                <SkillBar skillName={skill.name} percentage={skill.level} />
              ))
          }
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .img-about {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }
  .img-education-logo {
    border-radius: 100%;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
